{% extends "layout_admin.html" %}
{% block title %} Update bed {% endblock %}
{% block content %}
            <section class="p-5" style="margin: 50px;">
                <div class="container p-5">
                    <div class="row mb-4 mb-lg-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <p class="fw-bold text-success mb-2">Welcome</p>
                            <h2 class="fw-bold" style="font-family: K2D;">อัปเดตจำนวนเตียง</h2>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-body text-center d-flex flex-column align-items-center">
                                    <div class="col-auto">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-h-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-5-3.998H9.67v3.322H6.33V4.002H5V12h1.33V8.455h3.34V12H11V4.002Z"/>
                                        </svg>
                                    </div>
                                    <hr>
                                    <div class="mb-3" style="font-family: K2D;">{{admin.name}}</div>
                                    <div class="mb-3" style="font-family: K2D;">{{admin.phone}}</div>
                                    <div class="mb-3" style="font-family: K2D;">{{admin.address}}</div>
                                    <form action="/admin/update/{{admin.id}}" method="post">
                                        <div class="form-floating mb-3" style="font-family: K2D;">
                                            <input type="text" class="form-control" id="bed" placeholder="Your name" name="bed" required>
                                            <label for="bed">จำนวนเตียงว่าง : {{admin.bed}}</label>
                                        </div>
                                        <div class="form-floating mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Update</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}